<%= form_for(@estate) do |f| %>
  <% if @estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
      <% @estate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ptype %><br>
    <%= f.text_field :ptype %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :bathroom %><br>
    <%= f.number_field :bathroom %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.number_field :room %>
  </div>
  <div class="field">
    <%= f.label :hall %><br>
    <%= f.number_field :hall %>
  </div>
  <div class="field">
    <%= f.label :kitchen %><br>
    <%= f.number_field :kitchen %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.number_field :area %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :available_date %><br>
    <%= f.date_select :available_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
