<p id="notice"><%= notice %></p>

<h1>Listing Estates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
      <th>Bathroom</th>
      <th>Room</th>
      <th>Hall</th>
      <th>Kitchen</th>
      <th>Area</th>
      <th>Floor</th>
      <th>Available date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name %></td>
        <td><%= estate.type %></td>
        <td><%= estate.price %></td>
        <td><%= estate.bathroom %></td>
        <td><%= estate.room %></td>
        <td><%= estate.hall %></td>
        <td><%= estate.kitchen %></td>
        <td><%= estate.area %></td>
        <td><%= estate.floor %></td>
        <td><%= estate.available_date %></td>
        <td><%= link_to 'Show', estate %></td>
        <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
        <td><%= link_to 'Destroy', estate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate', new_estate_path %>
