<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @estate.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @estate.ptype %>
</p>

<p>
  <strong>Price:</strong>
  <%= @estate.price %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @estate.bathroom %>
</p>

<p>
  <strong>Room:</strong>
  <%= @estate.room %>
</p>

<p>
  <strong>Hall:</strong>
  <%= @estate.hall %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @estate.kitchen %>
</p>

<p>
  <strong>Area:</strong>
  <%= @estate.area %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @estate.floor %>
</p>

<p>
  <strong>Available date:</strong>
  <%= @estate.available_date %>
</p>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>